 
<!DOCTYPE html>  
<html lang="en">  
<head>  
   <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">  
   <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">  
   <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">  
   <link rel="manifest" href="static/site.webmanifest"> 
    <meta charset="UTF-8">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Pet Pictures</title>  
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
</head>  
<body>  
   <h1>Rating Random Cat Pictures</h1> 
    <h2>Warning: The photos work, but they take a while to load.</h2> 
    <img id="petimage" src="{{ url }}" alt="Random Pet">  
   <br> 
    <button id="newCatbutton">NEW CAT!</button> 
 
   <script>  
       $(document).ready(function() {  
           $('#newDogbutton').click(function() {  
               $.ajax({  
                   url: '/get_cat', 
                    method: 'GET',  
                   success: function(data) {  
                       $('#petimage').attr('src', data);  
                   },  
                   error: function(xhr, status, error) {  
                       console.error("Error fetching new cat image:", error); 
                    }  
               });  
           });  
 
           $('#newCatbutton').click(function() {  
               $.ajax({  
                   url: '/get_cat',  
                   method: 'GET',  
                   success: function(data) {  
                       $('#petimage').attr('src', data);  
                   },  
                   error: function(xhr, status, error) {  
                       console.error("Error fetching new cat image:", error);  
                   }  
               });  
           });  
       });  
   </script>  
</body>  
</html>  
